*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main-outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.horizon-outer{
    height: 50vh;
    width: 100%;
    background-color: #74b9ff;
    position: relative;
}
.road-outer{
    width: 100%;
    height: 40vh;
    background-color: rgba(45, 52, 54,1.0);
    position: relative;
}
.bottom-outer{
    flex: 1;
    width: 100%;
    background-color: green;
    position: relative;
}
.rain{
    position: absolute;
    width: 0.2vw;
    height: 0.9vw;
    bottom: 100%;
    background-color: rgb(255, 255, 255);
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 100;
    rotate: -4deg;
}

.rain:nth-child(1){
    left: 5%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(2){
    left: 10%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(3){
    left: 15%;
    animation-duration: 1.3s;
    animation-delay: 0s;
}
.rain:nth-child(4){
    left: 20%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(5){
    left: 25%;
    animation-duration: 1.6s;
    animation-delay: 0s;
}
.rain:nth-child(6){
    left: 30%;
    animation-duration: 1.2s;
    animation-delay: 0s;
}
.rain:nth-child(7){
    left: 35%;
    animation-duration: 1.7s;
    animation-delay: 0s;
}
.rain:nth-child(8){
    left: 40%;
    animation-duration: 1.3s;
    animation-delay: 0s;
}
.rain:nth-child(9){
    left: 5%;
    animation-duration: 1.4s;
    animation-delay: 0s;
}
.rain:nth-child(10){
    left: 45%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(11){
    left: 50%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(12){
    left: 5%;
    animation-duration: 1.3s;
    animation-delay: 0s;
}
.rain:nth-child(13){
    left: 55%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(14){
    left: 60%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(15){
    left: 65%;
    animation-duration: 1.2s;
    animation-delay: 0s;
}
.rain:nth-child(16){
    left: 70%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(17){
    left: 75%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(18){
    left: 80%;
    animation-duration: 1.9s;
    animation-delay: 0s;
}
.rain:nth-child(19){
    left: 85%;
    animation-duration: 1.2s;
    animation-delay: 0s;
}
.rain:nth-child(20){
    left: 90%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

@keyframes fall {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh);
        opacity: 0;
    }
}
.mountain{
    position: absolute;
    background-position: center;
    background-size: cover;
}
.mount-1{
    left: 0;
    bottom: 0;
    height: 50%;
    z-index: 4;
    width: 50%;
}
.mount-2{
    left: 30%;
    bottom: 0;
    height: 70%;
    z-index: 1;
    width: 70%;
}
.mount-3{
    right: -10%;
    bottom: 0;
    height:75%;
    z-index: 0;
    width: 70%;
}
.mount-4{
    left: 20%;
    bottom: 0;
    height: 78%;
    z-index: 0;
    width: 60%;
}

@keyframes colud {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(150vw);
    }
}
.image-01{
    position: absolute;
    left: -20%;
    top: 25%;
    width: 20%;
    height: 40%;
    animation-name: colud;
    animation-duration:60s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.image-02{
    position: absolute;
    left: -20%;
    top: 15%;
    width: 20%;
    height: 40%;
    animation-name: colud;
    animation-duration: 30s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    z-index: 20;
}
.image-03{
     position: absolute;
     left: -20%;
     top: 5%;
     width: 20%;
     height: 40%;
    animation-name: colud;
    animation-duration: 40s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.horizon-outer img{
    opacity: 0.9;
}
.road-outer hr{
    border:4px dashed white ;
    position: absolute;
    top: 50%;
    width: 100%;
    overflow: hidden;
}
.car{
    position: absolute;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    rotate: -1deg;
}
@keyframes wheel-rorate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
.wheel{
    position: absolute;
    width: 6.5vw;
    height: 6.5vw;
    animation-name: wheel-rorate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
.wheel-1{
    left: 22%;
    top: 56%;
}
.wheel-2{
    left: 77.5%;
    top: 56%;
}
@keyframes car-move {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(150vw);
    }
}
.car-group{
    position: absolute;
    left: -50%;
    top: -15%;
    width: 40%;
    height: 120%;
    animation-name: car-move;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

/*-------  Media Query ----------------*/
/*@media only screen and (max-width: 2560px){*/
/*    .wheel{*/
/*        width: 18%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 1440px){*/
/*    .wheel{*/
/*        height: 28%;*/
/*        width: 16%;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1334px) {*/
/*    .car-group{*/
/*        width: 60%;*/
/*        height: 140%;*/
/*        top: -50%;*/
/*        z-index: 1000;*/
/*    }*/
/*    .wheel{*/
/*        height: 38%;*/
/*        width: 16%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -5.5%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -7.5%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -10.5%;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 1272px){*/
/*    .car-group{*/
/*        width: 60%;*/
/*        height: 140%;*/
/*        top: -50%;*/
/*        z-index: 1000;*/
/*    }*/
/*    .wheel{*/
/*        height: 36%;*/
/*        width: 18%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -6%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -8%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -11%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 1024px){*/

/*}*/
/*@media screen and (max-width: 891px){*/
/*    .wheel{*/
/*        height: 35%;*/
/*        width: 18%;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 819px){*/
/*    .wheel{*/
/*        height: 30%;*/
/*        width: 17%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 768px){*/
/*    .car-group{*/
/*        width: 60%;*/
/*        height: 120%;*/
/*    }*/
/*    .wheel{*/
/*        height: 28%;*/
/*        width: 17%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -6%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -8%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -11%;*/
/*    }*/

/*}*/
/*@media only screen and (max-width: 742px){*/
/*    .car-group{*/
/*        width: 60%;*/
/*        height: 120%;*/
/*    }*/
/*    .wheel{*/
/*        height: 28%;*/
/*        width: 17%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -7%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -9%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -12%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 683px){*/
/*    .mount-1{*/
/*        bottom: -8%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -10%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -15%;*/
/*    }*/
/*    .mount-4{*/
/*        bottom: -16%;*/
/*    }*/
/*    .wheel{*/
/*        height: 26%;*/
/*        width: 17%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 620px){*/
/*    .mount-1{*/
/*        bottom: -10%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -12%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -17%;*/
/*    }*/
/*    .mount-4{*/
/*        bottom: -16%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 554px){*/
/*    .car-group{*/
/*        width: 60%;*/
/*        height: 120%;*/
/*    }*/
/*    .wheel{*/
/*        height: 25%;*/
/*        width: 17%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -12%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -16%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -18%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 499px){*/
/*    .car-group{*/
/*        width: 70%;*/
/*        height: 110%;*/
/*    }*/
/*    .wheel{*/
/*        height: 24%;*/
/*        width: 18%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -14%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -20%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -22%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 425px){*/
/*    .car-group{*/
/*        width: 70%;*/
/*        height: 90%;*/
/*        top: 10%;*/
/*    }*/
/*    .wheel{*/
/*        height: 28%;*/
/*        width: 17%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -15%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -21%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -25%;*/
/*    }*/
/*    .mount-4{*/
/*        bottom: -25%;*/
/*    }*/
/*    .rain{*/
/*        height: 15px;*/
/*    }*/
/*    .image-01{*/
/*        width: 25%;*/
/*        height: 25%;*/
/*        top: 35%;*/
/*        left: -25%;*/
/*        animation-duration:50s;*/
/*    }*/
/*    .image-02{*/
/*        width: 25%;*/
/*        height: 25%;*/
/*        top: 15%;*/
/*        left: -30%;*/
/*        animation-duration:45s;*/
/*     }*/
/*    .image-03{*/
/*        width: 25%;*/
/*        height: 25%;*/
/*        top: 15%;*/
/*        left: -35%;*/
/*        animation-duration:40s;*/
/*      }*/
/*}*/
/*@media screen and (max-width: 350px){*/
/*    .wheel{*/
/*        height: 23%;*/
/*        width: 19%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -19%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -24%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -28%;*/
/*    }*/
/*    .mount-4{*/
/*        bottom: -29%;*/
/*    }*/
/*    .car-group{*/
/*        width: 90%;*/
/*        height: 70%;*/
/*        top: 10%;*/
/*    }*/
/*}*/
/*@media only screen and (max-width: 325px){*/
/*    .wheel{*/
/*        height: 23%;*/
/*        width: 19%;*/
/*    }*/
/*    .mount-1{*/
/*        bottom: -17%;*/
/*    }*/
/*    .mount-2{*/
/*        bottom: -22%;*/
/*    }*/
/*    .mount-3{*/
/*        bottom: -26%;*/
/*    }*/
/*    .mount-4{*/
/*        bottom: -27%;*/
/*    }*/
/*    .car-group{*/
/*        width: 60%;*/
/*        height: 80%;*/
/*        top: 15%;*/
/*    }*/
/*}*/
@media screen  and (max-width: 1439px){
    .mount-1, .mount-2, .mount-3,.mount-4{
        bottom: -10%;
    }
    .car-group{
        height: 100%;
    }
}
@media screen  and (max-width: 1164px){
    .mount-1,.mount-2, .mount-3,.mount-4{
        bottom: -15%;
    }
    .mount-1{
        width: 60%;
        left: -10%;
        bottom: -13%;
        z-index: 2;
    }
    .car-group{
        height: 95%;
        z-index: 30;
        top: -25%;
    }
}
@media screen  and (max-width: 1150px){
    .car-group{
        height: 87%;
        z-index: 30;
        top: -25%;
    }
    .wheel{
        height: 7vw;
        width: 7vw;
    }
}
@media screen  and (max-width: 930px){
    .car-group{
        height: 87%;
        z-index: 30;
        top: -25%;
        width: 50%;
    }
    .wheel{
        height: 8vw;
        width: 8vw;
    }
    .mount-1,.mount-2, .mount-3,.mount-4{
        bottom: -18%;
    }
}
@media screen  and (max-width: 840px){
    .car-group{
        height: 87%;
        z-index: 30;
        top: -25%;
        width: 50%;
    }
    .wheel{
        height: 9.4vw;
        width: 9.4vw;
    }
}
@media screen  and (max-width: 707px){
    .car-group{
        height: 80%;
        z-index: 30;
        top: -25%;
        width: 55%;
    }
    .wheel{
        height: 10vw;
        width: 10vw;
    }
    .mount-1,.mount-2, .mount-3,.mount-4{
        bottom: -22%;
    }
    .mount-1{
        width: 60%;
        left: -10%;
        bottom: -14%;
        z-index: 2;
    }
}
@media screen  and (max-width: 649px){
    .car-group{
        height: 78%;
        z-index: 30;
        top: -25%;
        width: 59%;
    }
    .wheel{
        height: 12vw;
        width: 12vw;
    }
    .mount-3,.mount-4{
        bottom: -25%;
    }
    .image-01,.image-02,.image-03{
        width: 40%;
        height: 30%;
    }
    .image-01{
        left: -25%;
        animation-duration:40s;
    }
    .image-02{
        left: -30%;
        animation-duration:20s;
    }
    .image-03{
        left: -25%;
        animation-duration:30s;
    }
}
@media screen  and (max-width: 512px){
    .car-group{
        height: 80%;
        z-index: 30;
        top: -25%;
        width: 69%;
    }
    .wheel{
        height: 14vw;
        width: 14vw;
    }
    .mount-2,.mount-3,.mount-4{
        bottom: -26%;
    }
    .mount-1{
        bottom: -18%;
    }
}
@media screen  and (max-width: 463px){
    .car-group{
        height: 80%;
        z-index: 30;
        top: -25%;
        width: 75%;
    }
    .wheel{
        height: 14vw;
        width: 14vw;
    }
    .mount-2,.mount-3,.mount-4{
        bottom: -28%;
    }
    .mount-1{
        bottom: -18%;
    }
}
@media screen  and (max-width: 417px){
    .car-group{
        height: 70%;
        z-index: 30;
        top: -25%;
        width: 75%;
    }
}
@media screen  and (max-width: 366px){
    .car-group{
        height: 70%;
        z-index: 30;
        top: -25%;
        width: 78%;
    }
    .wheel{
        height: 15vw;
        width: 15vw;
    }
}
@media screen  and (max-width: 337px){
    .car-group{
        height: 67%;
        z-index: 30;
        top: -15%;
        width: 82%;
    }
    .wheel{
        height: 16vw;
        width: 16vw;
    }
    .mount-1{
        bottom: -22%;
    }
}
@media screen  and (max-width: 296px){
    .car-group{
        height: 60%;
        z-index: 30;
        top: -10%;
        width: 90%;
    }
    .wheel{
        height: 18vw;
        width: 18vw;
    }
}