*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
.main-outer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.horizon-outer{
    height: 50vh;
    width: 100%;
    background-color: #74b9ff;
    position: relative;
}
.road-outer{
    width: 100%;
    height: 40vh;
    background-color: rgba(45, 52, 54,1.0);
    position: relative;
}
.bottom-outer{
    flex: 1;
    width: 100%;
    background-color: green;
    position: relative;
}
.rain{
    position: absolute;
    width: 2px;
    height: 30px;
    bottom: 100%;
    background-color: rgb(255, 255, 255);
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    z-index: 100;
    rotate: -4deg;
}

.rain:nth-child(1){
    left: 5%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(2){
    left: 10%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(3){
    left: 15%;
    animation-duration: 1.3s;
    animation-delay: 0s;
}
.rain:nth-child(4){
    left: 20%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(5){
    left: 25%;
    animation-duration: 1.6s;
    animation-delay: 0s;
}
.rain:nth-child(6){
    left: 30%;
    animation-duration: 1.2s;
    animation-delay: 0s;
}
.rain:nth-child(7){
    left: 35%;
    animation-duration: 1.7s;
    animation-delay: 0s;
}
.rain:nth-child(8){
    left: 40%;
    animation-duration: 1.3s;
    animation-delay: 0s;
}
.rain:nth-child(9){
    left: 5%;
    animation-duration: 1.4s;
    animation-delay: 0s;
}
.rain:nth-child(10){
    left: 45%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(11){
    left: 50%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(12){
    left: 5%;
    animation-duration: 1.3s;
    animation-delay: 0s;
}
.rain:nth-child(13){
    left: 55%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(14){
    left: 60%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(15){
    left: 65%;
    animation-duration: 1.2s;
    animation-delay: 0s;
}
.rain:nth-child(16){
    left: 70%;
    animation-duration: 1.8s;
    animation-delay: 0s;
}
.rain:nth-child(17){
    left: 75%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}
.rain:nth-child(18){
    left: 80%;
    animation-duration: 1.9s;
    animation-delay: 0s;
}
.rain:nth-child(19){
    left: 85%;
    animation-duration: 1.2s;
    animation-delay: 0s;
}
.rain:nth-child(20){
    left: 90%;
    animation-duration: 1.5s;
    animation-delay: 0s;
}

@keyframes fall {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(100vh);
        opacity: 0;
    }
}
.mountain{
    position: absolute;
    background-position: center;
    background-size: cover;
}
.mount-1{
    left: 0;
    bottom: 0;
    height: 50%;
    z-index: 4;
    width: 50%;
}
.mount-2{
    left: 30%;
    bottom: 0;
    height: 70%;
    z-index: 1;
    width: 70%;
}
.mount-3{
    right: -10%;
    bottom: 0;
    height:75%;
    z-index: 0;
    width: 70%;
}
.mount-4{
    left: 20%;
    bottom: 0;
    height: 78%;
    z-index: 0;
    width: 60%;
}

@keyframes colud {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(150vw);
    }
}
.image-01{
    position: absolute;
    left: -20%;
    top: 25%;
    width: 20%;
    height: 40%;
    animation-name: colud;
    animation-duration:60s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.image-02{
    position: absolute;
    left: -20%;
    top: 15%;
    width: 20%;
    height: 40%;
    animation-name: colud;
    animation-duration: 30s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
    z-index: 20;
}
.image-03{
     position: absolute;
     left: -20%;
     top: 5%;
     width: 20%;
     height: 40%;
    animation-name: colud;
    animation-duration: 40s;
    animation-delay: 5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
}
.horizon-outer img{
    opacity: 0.9;
}
.road-outer hr{
    border:4px dashed white ;
    position: absolute;
    top: 50%;
    width: 100%;
    overflow: hidden;
}
.car{
    position: absolute;
    top: 0;
    left: 5%;
    width: 100%;
    height: 100%;
    rotate: -1deg;
}
@keyframes wheel-rorate {
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
.wheel{
    position: absolute;
    width: 16%;
    height: 30%;
    animation-name: wheel-rorate;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}
.wheel-1{
    left: 22%;
    top: 56%;
}
.wheel-2{
    left: 77.5%;
    top: 56%;
}
@keyframes car-move {
    from{
        transform: translateX(0vw);
    }
    to{
        transform: translateX(150vw);
    }
}
.car-group{
    position: absolute;
    left: -50%;
    top: -15%;
    width: 40%;
    height: 120%;
    animation-name: car-move;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

/*-------  Media Query ----------------*/
@media only screen and (max-width: 2560px){
    .wheel{
        width: 18%;
    }
}
@media only screen and (max-width: 1440px){
    .wheel{
        height: 28%;
        width: 16%;
    }
}
@media only screen and (max-width: 1024px){

}
@media only screen and (max-width: 768px){
    .car-group{
        width: 60%;
        height: 120%;
    }
    .wheel{
        height: 28%;
        width: 17%;
    }
    .mount-1{
        bottom: -6%;
    }
    .mount-2{
        bottom: -8%;
    }
    .mount-3{
        bottom: -11%;
    }

}
@media only screen and (max-width: 425px){
    .car-group{
        width: 70%;
        height: 90%;
        top: 10%;
    }
    .wheel{
        height: 28%;
        width: 17%;
    }
    .mount-1{
        bottom: -15%;
    }
    .mount-2{
        bottom: -21%;
    }
    .mount-3{
        bottom: -25%;
    }
    .mount-4{
        bottom: -25%;
    }
    .rain{
        height: 15px;
    }
    .image-01{
        width: 25%;
        height: 25%;
        top: 35%;
        left: -25%;
        animation-duration:50s;
    }
    .image-02{
        width: 25%;
        height: 25%;
        top: 15%;
        left: -30%;
        animation-duration:45s;
     }
    .image-03{
        width: 25%;
        height: 25%;
        top: 15%;
        left: -35%;
        animation-duration:40s;
      }
}
@media only screen and (max-width: 375px){
    .wheel{
        height: 25%;
        width: 17%;
    }
    .mount-1{
        bottom: -16%;
    }
}
@media only screen and (max-width: 325px){
    .wheel{
        height: 23%;
        width: 19%;
    }
    .mount-1{
        bottom: -17%;
    }
    .mount-2{
        bottom: -22%;
    }
    .mount-3{
        bottom: -26%;
    }
    .mount-4{
        bottom: -27%;
    }
    .car-group{
        width: 60%;
        height: 80%;
        top: 15%;
    }
}